

body {
  background: url("image.jpg") no-repeat center center fixed;
  background-size: cover;
}



h1 {
  margin-top: 40%;
  margin-left: 20%;
}

.intro {
  padding-top: 30%;
  line-height: 1;
  font-family: 'Inconsolata', monospace;
  text-align: center;
}


.btn {
  padding: 14px 40px;
  border-radius: 30px;
  font-size: 16px;
  transition-duration: 0.4s;
  background-color: #008CBA;
  color: white;
  margin-left: 30%;
}
.btn:hover {
  background-color: white;
  color: #008CBA;
}